/* @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.App-logo {
  max-height: 30vh;
  max-width: 30vh;
} */

/* .MuiPaper-root { */
/* left: calc(50% + 5px) !important; */
/* left: 50% !important; */
/* right: 33% !important; */
/*?? top: 75px !important; */
/* } */

/* .game {
  font-family: Roboto, 'sans-serif';
  display: grid;
  align-items: start;
  grid-template-columns: auto;
  grid-template-rows: minmax(100px, auto) auto minmax(100px, auto);
  background-color: #ffffff;
  border: 1px solid silver;
  width: 66%;
  max-width: 700px;
  min-width: 300px;
  margin: 50px auto 100px auto;
} */

/* .controls {
  display: flex;
  flex-direction: column;
  grid-area: 2/2/3/3;
  background-color: #f8f8f8;
}

*/
/* .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

*/
/* .board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-area: 2/1/3/2;
  grid-template-rows: 100px 100px 100px ; */
/* grid-gap: 2px;
  justify-items: center;
  align-items: center;
  background-color: #fff;
  color: #444;
  margin: 20px;
  position: relative; */
/* min-height: 300px;
} */

/* transition: transform 1s ease-out; */
/*
.disk {
  position: relative;
  height: 94%;
  border: 1px solid silver;
  border-radius: 5px;
  z-index: 5;
  top: 0px;
  left: 0px;
  
}

.drop-cell {
  width: 100%;
  height: 100%;
}

.peg {
  position: absolute;
  width: 2px;
  background-color: rgb(196, 166, 166);
  bottom: 0;
  text-align: center;
}

.peg:before {
  content: 'A';
  font-weight: 800;
  font-size: 20px;
  position: absolute;
  text-align: center;
  top: -20px;
  left: -5px;
} */